*
!CMakeLists.txt
!.gitignore
!README.md

!util.cpp

!include/
!include/*
!include/**/*

!addressability/
!addressability/*

!callsiteanalysis/
!callsiteanalysis/*

!breakconstantgeps/
!breakconstantgeps/*

!compileOTF/
!compileOTF/*

!instrpointoptimization/
!instrpointoptimization/*

!pointerdetection/
!pointerdetection/*

!reachability/
!reachability/*

!safetyanalysis/
!safetyanalysis/*
