*
!.gitignore
!CMakeLists.txt
!*.cpp
!*.h
!*.md
!noobclang
!noobclang++
!*.cmake
!*.in
!*.patch
!*.sh

!allocator/
!allocator/**/

!include/
!include/**/

!llvm-plugin/
!llvm-plugin/**/

!patches/
!patches/**/

!results/

!test/
!test/**/
