[submodule "llvm-plugin/llvm-utils"]
	path = llvm-plugin/llvm-utils
	url = git@github.com:adriaanjacobs/llvm-utils.git
[submodule "llvm-plugin/debugir"]
	path = llvm-plugin/debugir
	url = https://github.com/vaivaswatha/debugir.git
