*
!.gitignore
!CMakeLists.txt
!*.cpp
!*.h
!*.md
!noobclang
!noobclang++
!*.cmake
!*.in
!*.patch
!*.sh
!*.py

!allocator/
!allocator/**/

!include/
!include/**/

!llvm-plugin/
!llvm-plugin/**/

!n00bloader

!patches/
!patches/**/

!results/

!scripts/

!test/
!test/**/
