[submodule "llvm-plugin/llvm-utils"]
	path = llvm-plugin/llvm-utils
	url = ../llvm-utils
[submodule "llvm-plugin/debugir"]
	path = llvm-plugin/debugir
	url = https://github.com/vaivaswatha/debugir.git
[submodule "n00bloader"]
	path = n00bloader
	url = ../n00bloader
