################################################################
# SPEC CPU2006 config file for ARM 64-bit using Linux clang-15
################################################################
ignore_errors = yes
action = validate
output_format = pdf,text,html,config,screen,asc
ext = clang15-lto-@SPEC_EXT@
allow_extension_override = yes
PATHSEP = /
strict_rundir_verify = 0
monitor_wrapper = /usr/bin/time -v -o time.log $command

default=default=default=default:
CC           = clang-15 -Xclang -no-opaque-pointers -flto -std=gnu89 -D_GNU_SOURCE -fpermissive -Wno-return-type -Xclang -disable-O0-optnone
CLD          = @NOOB_CLD@
CXX          = clang++-15 -Xclang -no-opaque-pointers -flto -std=c++98 -D_GNU_SOURCE -fpermissive -Wno-return-type -Xclang -disable-O0-optnone
CXXLD        = @NOOB_CXXLD@
FC           = we-do-not-support-fortran

################################################################
# Optimization Flags
################################################################

default=base=default=default:
COPTIMIZE     = -O2 -flto -fno-strict-aliasing -march=native -fuse-ld=/usr/bin/ld.lld-15 -Xclang -disable-O0-optnone -Wl,-plugin-opt=no-opaque-pointers
CXXOPTIMIZE  = -O2 -flto -fno-strict-aliasing -march=native -fuse-ld=/usr/bin/ld.lld-15 -Xclang -disable-O0-optnone -Wl,-plugin-opt=no-opaque-pointers
FOPTIMIZE    = -O2 -fno-strict-aliasing

#####################################################################
# Portability
#####################################################################

default=default=default=default:
PORTABILITY = -DSPEC_CPU_LP64 -Wno-int-conversion

400.perlbench=default=default=default:
CPORTABILITY = -DSPEC_CPU_LINUX_X64
EXTRA_CFLAGS = -fno-strict-aliasing

403.gcc=default=default=default:
CPORTABILITY = @NOOB_STRIPTOP@

462.libquantum=default=default=default:
CPORTABILITY = -DSPEC_CPU_LINUX

464.h264ref=default=default=default:
EXTRA_CFLAGS = -fno-strict-aliasing

483.xalancbmk=default=default=default:
CXXPORTABILITY = -DSPEC_CPU_LINUX
